#doc-engine {
  display: flex;
  background: #faf4f1;
  font-family: helvetica, arial, sans-serif;
}

#doc-engine ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#doc-engine a,
#doc-engine h1 {
  color: #d84a32;
  text-decoration: none;
}

#doc-engine hr {
  height: 1px;
  border: none;
  margin: 8px 0;
  background-color: #dfd7d4;
}

#header-1 {
  font-size: 12px;
  width: 220px;

  margin-top: 38px;
  min-height: 475px;
  margin-bottom: 28px;
  padding-bottom: 120px;
  background: #f4ece9;
  border-left: 1px solid #d4ccc8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(212, 204, 200);
  border-right: 1px solid #d4ccc8;
}

#header-1 a {
  padding: 6px 1em 6px 1em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header-1 a.active {
  background-color: #f2d1cb;
  color: #444;
}

#navigation__classes > a,
#navigation__modules > a {
  display: block;
  color: #443331;
  border-top: 1px solid #d5ccc8;
  border-bottom: 1px solid #d5ccc8;
  padding: 12px 12px 10px 12px;
  background-color: #f4ece9;
}

#content-1 {
  flex: 1;
  margin: 38px 2.1em 90px 2.1em;
}

#navigation ul ul {
  margin: 10px 0;
}

#class__name {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#class__info {
  font-weight: bold;
}

#class__info a {
  font-weight: normal;
}

#class__access,
#module__parent {
  margin: 1.5em 0;
  line-height: 1.5em;
  text-transform: uppercase;
}

#class__description {
  margin: 32px 0;
}

#module__parent {
}

#header-2 ul {
  display: flex;
}

#header-2 li {
  flex: 1;
}

#header-2 a {
  display: block;

  border-top: solid 1px #fafafa;
  border-right: solid 1px #e6e4e3;
  background-color: #f3f3f3;
  background-image: linear-gradient(0deg, #f3f3f3, #ebebeb);
  padding: 0.5em 1em;
  text-align: center;
  font-weight: normal;
  color: #443331;
  font-family: 'Helvetica Neue';
}
