#ember-doc-engine {
  display: flex;
  background: #faf4f1;
  font-family: helvetica, arial, sans-serif;
}

.de-toc {
  width: 220px;
  border-left: 1px solid #d5ccc8;
  border-right: 1px solid #d5ccc8;
  font-size: 12px;
}

.de-toc ul {
  list-style: none;
  padding: 0;
}

.de-toc-1,
.de-toc-2 {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.de-toc-1 {
  color: #443331;
  border-top: 1px solid #d5ccc8;
  border-bottom: 1px solid #d5ccc8;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f4ece9;
}

.de-toc-1 + ul {
  margin: 8px 0;
}

.de-toc-2 {
  color: #d84a32;
  text-decoration: none;
  padding: 6px 1em 6px 1em;
}

.de-content {
  margin: 12px 2.1em;
}

.de-content h1 {
  margin: 0;
  color: #d84a32;
  font-size: 22px;
}

.de-content hr {
  height: 1px;
  border: none;
  margin: 8px 0;
  background-color: #dfd7d4;
}

.de-content h2 {
  margin-top: 1.5em;
  margin-bottom: .83em;
}

.de-content__class-items__tabs ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.de-content__class-items__tabs a {
  line-height: 40px;
  display: inline-block;
}

.de-content code {
  font-family: Menlo, Courier, monospace;
  font-size: 90%;
  color: #666;
  background-color: rgba(0,0,0,0.04);
  padding: 3px;
  border-radius: 5px;
}

.de-content pre {
  background: white;
  padding: 8px 0 8px 13px;
  box-shadow: 0 1px #fff, inset -1px 1px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.de-content pre code {
  display: block;
  background: transparent;
}

.de-content .language-javascript {
  position: relative;
}

.de-content .language-javascript::after {
  content: 'JavaScript';
  position: absolute;
  right: 0;
  bottom: 0;
  background: lightgray;
  padding: 0.25em 0.5em;
}
